*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.header__inner,
.header__lan,
.header__menu ul {
    display: flex;
}

.header__inner {
    position: relative;
}

.burger__menu {
    width: 375px;
    height: 414px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}

.burger__menu.active {
    display: block;
}

.burger__container {
    position: relative;
}

.burger__close {
    position: absolute;
    top: 19px;
    left: 16px;
    cursor: pointer;
}

.burger__logo {
    margin-left: 121px;
}

.burger__menu .header__lan-icon {
    position: absolute;
    right: 40px;
    top: 80px;
}

.burger__menu .header__lan-arrow {
    position: absolute;
    right: 59px;
    top: 80px;
}

.burger__menu-nav ul li:nth-child(7) {
    background: #4BCE97;
    border-radius: 20px;
    width: 137px;
    height: 57px;
    margin-left: 113px;
    padding-top: 14px;
}

.burger__menu-nav ul li a span {
    color: #fff;
}

.burger__menu-nav {
    margin-left: 16px;
    align-items: center;
    text-align: center;
}

.burger__menu-nav ul li+li {
    margin-top: 16px;
}

.header__logo {
    margin-top: 22px;
}

.header__menu {
    margin: 50px 80px 0 290px;
}

.header__menu ul li a.active {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #4BCE97;
}

.header__menu li+li {
    margin-left: 40px;
}

.header__lan {
    margin-top: 47px;
    position: relative;
}

.header__lan-arrow img {
    position: absolute;
    left: 27px;
    top: 9px;
}

.signin {
    margin: 50px 50px 0 80px;
}

.signup {
    margin-top: 37px;
    width: 137px;
    height: 52px;
    background: #4BCE97;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.signup a {
    color: #fff;
    position: absolute;
    left: 38px;
    top: 13px;
}

.exchange__inner {
    display: flex;
    margin-left: 136px;
    margin-top: 60px;
    position: relative;
}

.cat__cosmo {
    position: absolute;
    right: 8px;
    top: 585px;
}

.exchange__description {
    width: 532.5px;
    height: 562px;
    margin-right: 35px;
    margin-top: 24.5px;
}

.exchange__description-title {
    font-weight: 900;
    font-size: 57px;
    line-height: 66px;
    color: #000000;
    margin-bottom: 5px;
}

.exchange__description-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #4E5155;
}

.exchange__description-ul ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.exchange__description-ul ul li {
    background-color: #e4e4e4;
    color: #000;
    height: 40px;
    position: relative;
    border-radius: 5px;
}

.exchange__description-ul ul li img {
    position: absolute;
    top: 11px;
    left: 12px;
}

.exchange__description-ul ul li span {
    position: absolute;
    left: 36px;
    top: 9px;
    font-size: 14px;
    font-weight: 500;
}

.bitcoin {
    width: 124px;
}

.tether {
    width: 181px;
    margin-left: 10px;
}

.ethereum {
    width: 141px;
    margin-left: 10px;
}

.litecoin {
    width: 128px;
    margin-top: 10px;
}

.ripple {
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}

.visamastercard {
    width: 264px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.visaimg {
    left: 15px;
}

.visa-span {
    left: 54px !important;
}

.mastercardimg {
    left: 102px !important;
}

.mastercard-span {
    left: 136px !important;
}

.exchange__description-btn {
    margin-top: 60px;
    display: flex;
}

.exchange__description-btn button {
    width: 162px;
    height: 60px;
    border: 3px solid #4BCE97;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.exchange__description-play {
    margin-top: -8px;
    margin-left: 50px;
    position: relative;
}

.exchange__description-play span {
    position: absolute;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #3734A9;
    width: 148px;
    top: 22px;
}

.exchange__table {
    padding: 32px 32px 16px;
    width: 532.5px;
    height: 611px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #E1E3F0;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
}

.exchange__table-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
}

.exchange__currencies {
    padding: 16px 20px;
    width: 468.5px;
    height: 179px;
    background: #FFFFFF;
    border: 1px solid #B8CCF5;
    border-radius: 10px;
    position: relative;
    margin-top: 12px;
}

.exchange__currencies::before {
    content: '';
    position: absolute;
    width: 428.5px;
    height: 1px;
    background: #B8CCF5;
    top: 92px;
}

.currencies-send__title,
.currencies-get__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E5155;
}

.currencies-send__sum,
.currencies-get__sum {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1D1D26;
    margin-bottom: 40px;
}

.select__table {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: #e4e4e4;
    border: 1px solid #F3F4F8;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
    width: 115px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.select__table-arrow {
    margin-left: 18px;
    margin-top: -4px;
}

.select__table-logo {
    margin-top: 3px;
}

.select__table-btc {
    top: 24px;
}

.select__table-eth {
    bottom: 21px;
}

.select__table-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D1D26;
    margin-left: 8px;
}

.exchange__table-input input {
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #B8CCF5;
    border-radius: 10px;
    width: 468.5px;
    height: 64px;
    margin-top: 12px;
    outline: none;
}

.exchange__table-info {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.exchange__info {
    align-items: center;
    padding: 8px 20px;
    width: 148.17px;
    height: 76px;
    background: #FFFFFF;
    border: 1px solid #F3F4F8;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.exchange__info-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E5155;
}

.exchange__info-sum {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #1D1D26;
    margin-top: 5px;
}

.form-control {
    display: flex;
    margin-top: 54px;
}

.form-control span {
    color: #1863FD;
}

.form-control p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1D1D26;
    margin-left: 11px;
}

.exchange__table-checkbox,
.exchange__table-btn {
    display: flex;
}

.exchange__table-btn button {
    width: 192px;
    height: 64px;
    background: linear-gradient(92.87deg, #8175FE 6.77%, #2A67F4 100%);
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 28px;
    bottom: 84px;
}

.exchange__table::after {
    content: '';
    position: absolute;
    width: 468.5px;
    height: 1px;
    background: #D6D8E3;
    bottom: 57px;
}

.exchange__table-footer {
    display: flex;
    margin-top: 68px;
    margin-left: 100px;
}

.exchange__table-footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E5155;
    margin-top: 3px;
    margin-right: 10px;
}

.benefits__inner {
    margin-top: 120px;
    width: 1099px;
    margin-left: 136px;
}

.benefits__inner-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 60px;
}

.benefits__inner-items {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    align-items: center;
    padding: 32px;
    width: 343px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
    border: 1px solid rgba(106, 199, 136, 1);
}

.currency {
    border: 1px solid rgba(130, 130, 255, 1);
}

.deposit {
    border: 1px solid rgba(106, 199, 136, 1);
}

.coin {
    border: 1px solid rgba(255, 115, 115, 1);
}

.benefits__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-top: 24px;
}

.benefits__item-text {
    width: 300px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #4E5155;
    margin-top: 8px;
}

.benefits__item-num {
    position: absolute;
}

.currency-num {
    width: 44px;
    left: 243px;
    top: -35px;
    font-weight: 900;
    font-size: 104px;
    line-height: 204px;
    background: linear-gradient(180deg, #3D4EE6 0%, rgba(61, 78, 230, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.1;
}

.deposit-num {
    width: 57px;
    left: 230px;
    top: -35px;
    font-weight: 900;
    font-size: 104px;
    line-height: 204px;
    background: linear-gradient(180deg, #22D497 0%, rgba(34, 212, 151, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.1;
}

.coin-num {
    width: 57px;
    height: 204px;
    left: 230px;
    top: -35px;
    font-weight: 900;
    font-size: 104px;
    line-height: 204px;
    background: linear-gradient(180deg, #FF6160 0%, rgba(255, 97, 96, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.1;
}

.choose__inner {
    margin-top: 160px;
    display: flex;
    position: relative;
    margin-left: 136px;
}

.choose__tables-why {
    width: 342px;
    height: 388px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E1E3F0;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 34px 30px;
}

.tables-why__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #111235;
}

.tables-why__items {
    margin-top: 32px;
}

.tables-why__item {
    display: flex;
    position: relative;
}

.tables-why__item+.tables-why__item {
    margin-top: 24px;
}

.why__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #111235;
    margin-left: 16px;
}

.why__item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #6C6C6C;
    position: absolute;
    left: 76px;
    top: 34px;
}

.seemore a {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #F9675A;
}

.seemore img{
    margin-left: 24
}

.choose__tables-secure {
    padding: 26px 48px;
    align-items: center;
    width: 308px;
    height: 304px;
    background: #FFFFFF;
    border: 1px solid #E1E3F0;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 266px;
}

.secure__logo {
    margin-left: 25%;
}

.secure__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #111235;
    margin-top: 22px;
}

.secure__text {
    width: 229px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #6C6C6C;
    margin-top: 6px;
}

.secure__btn button {
    align-items: center;
    padding: 10px 40px;
    width: 141px;
    height: 50px;
    background: #F9675A;
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
    border: none;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 36px;
}

.choose__info {
    width: 490px;
    height: 437px;
    margin-left: 324px;
}

.choose__info::before {
    content: '';
    width: 490px;
    height: 1px;
    background: #E6E6E6;
    position: absolute;
    bottom: 146px;
}

.choose__info-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 29px;
}

.choose__info-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #4E5155;
    margin-bottom: 52px;
}

.choose__info-list {
    display: flex;
    position: relative;
}

.info-list__logo img {
    position: absolute;
    top: -20px;
    left: -30px;
}

.choose__info-list+.choose__info-list {
    margin-top: 15px;
}

.info-list__title {
    margin-left: 38px;
}

.choose-star img {
    position: absolute;
    top: -46px;
    left: 292px;
}

.advantages__inner {
    margin-top: 240px;
    margin-bottom: 120px;
}

.advantages__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-left: 500px;
}

.advantages__text {
    width: 640px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 13px;
    margin-left: 400px;
}

.advantages__items {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.advantages__item {
    padding: 32px;
    width: 344px;
    height: 429px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E1E3F0;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.advantages__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 12px;
}

.advantages__item-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #4E5155;
}

.checkitout__inner {
    align-items: center;
    padding: 48px 310px;
    background: linear-gradient(92.87deg, #8175FE 6.77%, #2A67F4 100%);
    display: flex;
    justify-content: space-around;
}

.checkitout__title {
    width: 559px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.checkitout__bnt button {
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #171B24;
    width: 181px;
    height: 60px;
    border: none;
}

.reserves__inner {
    margin: 120px 0;
}

.reserves__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-left: 500px;
    margin-bottom: 13px;
}

.reserves__text {
    width: 640px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-left: 400px;
    margin-bottom: 60px;
}

.reserves__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1380px;
    margin-left: 50px;
}

.reserves__item {
    align-items: center;
    padding: 22px 24px;
    width: 345.33px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #E1E3F0;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    margin-bottom: 32px;
}

.reserves__item-name {
    width: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #1D1D26;
    margin-left: 12px;
    margin-right: 90px;
}

.reserves__item-name span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1D1D26;
}

.reserves__btn button {
    width: 210px;
    height: 50px;
    background: #F9675A;
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 630px;
    margin-top: 70px;
}

.footer,
.footer__inner {
    padding: 60px 170px;
    background: #171B24;
}

.footer__items {
    display: flex;
    justify-content: space-between;
}

.footer__item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer__item ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__item ul li+li {
    margin-top: 18px;
}

.check__inner {
    margin: 120px 150px;
    position: relative;
}

.help__cat {
    position: absolute;
    left: -170px;
    bottom: -70px;
}

.check__cat img,
.waiting__cat img {
    position: absolute;
    right: -120px;
    bottom: -90px;
}

.check__title,
.waiting__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 66px;
    color: #000000;
    margin-bottom: 8px;
}

.check__form,
.waiting__table {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E1E3F0;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 32px;
    width: 1100px;
}

.check__form-header,
.waiting__form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-header__validity {
    position: relative;
}

.header__validity-logo img {
    position: absolute;
    right: 70px;
    top: 9px;
}

.header__actual-title,
.header__validity-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #2C2C2C;
    opacity: 0.7;
}

.header__actual-date,
.header__validity-date {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2C2C2C;
}

.input__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #2C2C2C;
    opacity: 0.7;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
}

.check__form-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.check__form-info input {
    width: 469px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #B8CCF5;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
}

.check__form-info button {
    display: block;
}

.check__form-btn button {
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    width: 366px;
    height: 64px;
    background: #4BCE97;
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 340px;
}

.waiting__inner {
    margin: 120px 150px;
    position: relative;
}

.waiting__confirm-info {
    display: flex;
}

.confirm-title__text {
    font-weight: 700;
    font-size: 31px;
    line-height: 40px;
    align-items: center;
    color: #4BCE97;
    opacity: 1.0;
    position: absolute;
    top: 16px;
    left: 85px;
}

.waiting__confirm-title {
    position: relative;
}

.confirm-title__bg {
    width: 875px;
    height: 72px;
    background-color: #4BCE97;
    border-radius: 15px;
    margin-bottom: 38px;
    margin-left: 70px;
    opacity: 0.1;
}

.confirm__item {
    display: flex;
}

.confirm__item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #2C2C2C;
    opacity: 0.7;
    margin-left: 8px;
}

.confirm__item-title span {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: block;
    align-items: center;
    color: #000;
    width: 380px;
}

.confirm__item-svg {
    margin-left: 8px;
    border: none;
    background-color: transparent;
    margin-top: 15px;
}

.confirm__item-svg img {
    margin-top: 0px;
}

.confirm__item+.confirm__item {
    margin-top: 50px;
}

.confirm__items {
    margin-bottom: 24px;
}

.confirm__code {
    margin-left: 174px;
}

.confirm__code-img {
    width: 140px;
    height: 140px;
    border: 1px solid #B8CCF5;
    filter: drop-shadow(0px 64px 194px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    padding: 6px;
}

.confirm__code-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    color: #000000;
    margin-top: 8px;
    margin-left: -12px;
}

.confirm__btn {
    margin-left: 70px;
}

.btn-ipaid__text {
    width: 510px;
    height: 75px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #2C2C2C;
    opacity: 0.7;
}

.btn-ipaid button {
    padding: 0px 32px;
    width: 366px;
    height: 64px;
    background: #4BCE97;
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 52px;
    margin-left: 70px;
}

.btn-cancle__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #F9675A;
    margin-left: 48px;
}

.btn-cancle button {
    padding: 10px 40px;
    width: 130px;
    height: 50px;
    border: 1px solid #F9675A;
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2C2C2C;
    margin-top: 26px;
    margin-left: 192px;
}

.burger__cat {
    width: 351px;
    height: 317px;
    background: #FFFFFF;
    border: 1px solid #4BCE97;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: absolute;
    bottom: -80px;
    left: -170px;
    display: none;
}

.burger__cat.active {
    display: block;
    z-index: 1;
}

.burger__cat-inner {
    position: relative;
}

.burger__cat-close {
    position: absolute;
    right: 16px;
    top: 0px;
}

.cat-input__sendhor {
    position: absolute;
    right: 24px;
    bottom: 6px;
    cursor: pointer;
}

.burger__cat-date {
    margin-top: 16px;
}

.burger__cat-date,
.burger__cat-time {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #2C2C2C;
}

.burger__cat input {
    width: 319px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #B8CCF5;
    border-radius: 10px;
    padding-left: 16px;
    margin-left: 16px;
    margin-top: 200px;
    outline: none;
}

.burger__cat input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #2C2C2C;
    opacity: 0.5;
}

.users__inner {
    margin-bottom: 120px;
}

.users__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 60px;
}

.companies {
    margin-left: 145px;
    margin-bottom: 60px;
}

.users__slider-item {
    padding: 32px;
    width: 558px;
    height: 352px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E1E3F0;
    box-shadow: 0px 4px 12px -1px rgba(29, 29, 38, 0.08);
    border-radius: 20px;
}

.user__info {
    display: flex;
}

.users__slider-name {
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #1D1D26;
}

.users__slider-name span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4E5155;
    display: block;
}

.users__slider-rating {
    margin: 16px 0;
}

.users__slider-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #1D1D26;
    margin-bottom: 16px;
}

.users__slider-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5155;
    margin-bottom: 48px;
}

.users__slider-items {
    display: flex;
    margin-left: 150px;
}

.users__slider-item+.users__slider-item {
    margin-left: 24px;
}

.media__line-first {
    border: 2px solid #454545;
    border-radius: 2px;
    width: 19px;
}

.media__line-second {
    border: 2px solid #454545;
    border-radius: 2px;
    width: 14px;
    margin-top: 3px;
}

.media__line-third {
    border: 2px solid #454545;
    border-radius: 2px;
    width: 8px;
    margin-top: 3px;
}

.media__menu {
    display: none;
}

.btc {
    left: 90px !important;
}

.usdt {
    left: 141px !important;
}

.eth {
    left: 110px !important;
}

.ltc {
    left: 96px !important;
}

.xpr {
    left: 86px !important;
}

.uah {
    left: 221px !important;
}

.advantages-mini {
    display: none;
}

.responsive-comapanies {
    display: none;
}

.confirm__item-title br {
    display: none;
}

.see {
    top: 0px !important;
    left: 115px;
}

@media (max-width: 375px) {

    .header__menu,
    .signin,
    .signup,
    .header__lan {
        display: none;
    }

    .header__logo {
        margin-top: 0px;
        margin-left: 84px;
    }

    .media__menu {
        display: block;
    }

    .media__menu {
        margin-top: 25px;
        margin-left: 16px;
        cursor: pointer;
    }

    .waiting__inner {
        margin: 46px 0 60px 0;
    }

    .waiting__title {
        font-size: 29px;
        margin-left: 16px;
        margin-bottom: 53px;
    }

    .waiting__table {
        width: 343px;
        padding: 24px 16px;
        margin-left: 16px;
    }

    .waiting__confirm-title {
        width: 311px;
        margin-left: 0;
        margin-bottom: 22px;
    }

    .confirm-title__bg {
        width: 311px;
        height: 66px;
        background-color: #4BCE97;
        border-radius: 15px;
        margin-bottom: 38px;
        margin-left: 0px;
        opacity: 0.1;
    }

    .confirm-title__text {
        font-size: 22px;
        width: 295px;
        height: 50px;
        font-size: 20px;
        line-height: 25px;
        top: 8px;
        left: 20px;
    }

    .confirm__item+.confirm__item {
        margin-top: 24px;
    }

    .confirm__code {
        margin-left: 16px;
        margin-bottom: 24px;
    }

    .waiting__confirm-info {
        display: block;
    }

    .confirm__item-title span {
        font-size: 15px;
        width: 248px;
    }

    .confirm__item-logo img {
        width: 24px;
        height: 24px;
    }

    .confirm__btn {
        margin-left: 0px;
    }

    .btn-ipaid__text {
        width: 309px;
        font-size: 13px;
        margin-left: 0px;
        height: 104px;
    }

    .btn-ipaid button {
        width: 308px;
        margin-left: 0px;
        margin-bottom: 16px;
    }

    .btn-cancle__text {
        margin-left: 0px;
        text-align: center;
        font-size: 15px;

    }

    .btn-cancle button {
        margin-left: 86px;
        margin-top: 16px;
    }

    .waiting__cat img {
        width: 137px;
        height: 185px;
        top: 495px;
        left: 204px;
    }

    .footer,
    .footer__inner {
        padding: 24px 16px;
        background: #171B24;
        width: 375px;
    }

    .footer__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__item+.footer__item {
        margin-left: 0px;
    }

    .footer__item ul li {
        font-size: 14px;
        width: 164px
    }

    .footer__item+.footer__item+.footer__item {
        margin-top: 24px;
    }

    .check__form {
        width: 343px;
        padding: 24px 16px;
    }

    .check__form-info {
        display: block;
    }

    .check__inner {
        margin: 46px 16px;
    }

    .check__form-info input {
        width: 311px;
        height: 64px;
    }

    .check__form-btn button {
        width: 311px;
        margin-left: 0px;
    }

    .check__title {
        width: 343px;
        height: 74px;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 16px;
    }

    .check__cat img {
        display: none;
    }

    .help__cat img {
        width: 112px;
        height: 112px;
    }

    .help__cat {
        position: absolute;
        left: -32px;
        bottom: -104px;
    }

    .burger__cat {
        width: 343px;
        bottom: -80px;
        left: 0px;
    }

    .exchange__inner {
        display: block;
        margin-left: 16px;
        position: relative;
        margin-top: 0;
    }

    .exchange__description {
        position: absolute;
        top: 550px;
        height: 430px;
    }

    .exchange__description-title {
        width: 343px;
        font-size: 40px;
        line-height: 45px;
    }

    .exchange__description-line img {
        width: 343px;
        height: 10px;
    }

    .exchange__description-text {
        width: 343px;
        height: 75px;
        font-size: 14px;
        line-height: 26px;
    }

    .usdt,
    .eth,
    .ltc,
    .xpr,
    .uah,
    .ethereum {
        display: none;
    }

    .exchange__description-ul ul li img {
        left: 8px;
    }

    .litecoin {
        width: 86px;
        margin-top: 45px;
        margin-left: 0px;
        position: absolute !important;
    }

    .bitcoin {
        position: absolute !important;
        left: 225px;
        width: 115px;
    }

    .ripple {
        width: 82px;
        margin-left: 95px;
        margin-top: 45px;
        position: absolute !important;
    }

    .tether {
        width: 134px;
        margin-top: 45px;
        margin-left: 185px;
        position: absolute !important;
    }

    .exchange__description-ul ul li span {
        left: 31px;
        top: 10px;
        font-size: 13px;
    }

    .btc {
        left: 82px !important;
    }

    .exchange__description-ul {
        position: relative;
    }

    .visamastercard {
        width: 218px;
        position: relative;
        margin-left: 0px;
        margin-top: 0px;
    }

    .exchange__description-btn button {
        width: 164px;
        height: 40px;
        font-size: 14px;
        line-height: 30px;
    }

    .exchange__description-play a img {
        width: 50px;
        height: 50px;
    }

    .exchange__description-play {
        margin-top: -2px;
        margin-left: 16px;
    }

    .exchange__description-play span {
        width: 98px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        color: #3734A9;
        top: 10px;
    }

    .see {
        display: none;
    }

    .exchange__table {
        box-shadow: none;
        border: none;
        background-color: transparent;
        padding: 0;
        margin-left: -16px;
    }

    .exchange__currencies {
        width: 343px;
        height: 179px;
        margin-left: 16px;
    }

    .exchange__currencies::before {
        width: 321.5px;
        left: 10px;
    }

    .exchange__table-title {
        display: none;
    }

    .exchange__table-input input {
        margin-left: 16px;
        width: 343px;
        height: 64px;
    }

    .exchange__info {
        width: 104.33px;
        height: 76px;
        padding: 8px;
    }

    .exchange__info-title {
        width: 88.33px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
    }

    .exchange__table-info {
        width: 343px;
        margin-left: 16px;
    }

    .exchange__info-sum {
        width: 89.33px;
        height: 36px;
        font-size: 13px;
        line-height: 18px;
    }

    .exchange__table-btn button {
        width: 343px;
        height: 48px;
        left: 8px;
        bottom: 206px;
    }

    .form-control {
        margin-top: 80px;
        margin-left: 16px;
    }

    .exchange__table::after {
        width: 342.5px;
        bottom: 145px;
        left: 8px;
    }

    .exchange__table-footer {
        margin-top: 38px;
        margin-left: 35px;
    }

    .benefits__inner {
        margin-left: 16px;
        margin-top: 440px;
    }

    .benefits__inner-title {
        width: 238px;
        height: 60px;
        font-size: 26px;
        line-height: 60px;
        color: #000000;
        margin-bottom: 10px;
        margin-left: 16px;
    }

    .benefits__inner-items {
        display: block;
    }

    .benefits__item+.benefits__item {
        margin-top: 16px;
    }

    .choose__inner {
        position: relative;
        margin-left: 16px;
        display: block;
        margin-top: 60px;
    }

    .choose__tables-secure {
        position: unset;
        margin-top: 10px;
        width: 342px;
    }

    .choose__info {
        margin-left: 16px;
    }

    .choose__info-title {
        width: 371px;
        height: 125px;
        font-size: 36px;
        line-height: 45px;
    }

    .choose__info-text {
        width: 330px;
        height: 90px;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .choose__info::before {
        width: 330px;
        bottom: 170px;
    }

    .choose__tables {
        position: absolute;
        margin-top: 430px;
    }

    .choose-star img {
        position: absolute;
        top: 394px;
        left: 272px;
        z-index: 2;
    }

    .secure__logo {
        margin-left: 28%;
    }

    .secure__text {
        margin-left: 16px;
    }

    .secure__title {
        margin-left: -8px;
    }

    .secure__btn button {
        margin-left: 48px;
    }

    .advantages__inner {
        margin-top: 770px;
    }

    .advantages__title {
        margin-left: 16px;
        font-size: 40px;
        line-height: 60px;
    }

    .advantages__text {
        margin-left: 16px;
        width: 346px;
        height: 120px;
        font-size: 17px;
        line-height: 30px;
    }

    .advantages__items {
        display: block;
        margin-left: 16px;
        margin-top: 24px;
    }

    .advantages__item+.advantages__item {
        margin-top: 24px;
    }

    .advantages__item {
        display: flex;
        width: 343px;
        height: 214px;
        position: relative;
        padding: 16px;
    }

    .advantages-normal {
        display: none;
    }

    .advantages-mini {
        display: block;
    }

    .advantages__item-title {
        width: 77px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-left: 16px;
        margin-top: 0;
    }

    .advantages__item-text {
        width: 212px;
        height: 140px;
        font-size: 13px;
        line-height: 20px;
        position: absolute;
        top: 60px;
        right: 4px;
    }

    .checkitout__inner {
        padding: 16px;
        display: block;
    }

    .checkitout__title {
        width: 335px;
        height: 64px;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }

    .checkitout__bnt button {
        margin-top: 16px;
        margin-left: 70px;
    }

    .reserves__inner {
        margin: 60px 0 120px 0;
    }

    .reserves__text {
        margin-left: 16px;
        width: 348px;
        height: 90px;
        font-size: 15px;
        line-height: 30px;
    }

    .reserves__title {
        margin-left: 16px;
        width: 380px;
        height: 60px;
        font-size: 36px;
        line-height: 60px;
    }

    .reserves__item:nth-child(9) {
        display: none;
    }

    .reserves__items {
        justify-content: space-between;
        width: 344px;
        margin-left: 16px;
        position: relative;
    }

    .reserves__item {
        padding: 16px;
        width: 164px;
        height: 112px;
        position: relative;
    }

    .reserves__item-logo {
        margin-top: -36px;
    }

    .reserves__item-name {
        margin: -36px 0 0 12;
        margin-left: 12px;
        margin-right: 0px;
        margin-top: -36px;
    }

    .reserves__item-num {
        position: absolute;
        bottom: 16px;
        left: 30.5px;
    }

    .reserves__btn button {
        width: 163px;
        height: 50px;
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
        top: 324px;
        left: 96px;
    }

    .users__title {
        margin-left: 16px;
        width: 343px;
        height: 90px;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 31px;
    }

    .users__slider-items {
        margin-left: 16px;
    }

    .normal-companies {
        display: none;
    }

    .responsive-comapanies {
        display: block;
    }

    .companies {
        margin-left: 16px;
        margin-bottom: 24px;
    }

    .users__slider-item {
        padding: 24px 16px;
        width: 299px;
        height: 402px;
    }

    .users__slider-text {
        margin-bottom: 24px;
    }

    .users__inner {
        margin-bottom: 60px;
    }

    .cat__cosmo {
        left: 256px;
        top: 1014px;
    }

    .cat__cosmo img {
        width: 113px;
        height: 152px;
    }
}